body.show{
    font-family: Inter, sans-serif;
    background-color: rgb(228, 227, 227);
}

.presentation section{
    /* EACH SECTION WILL COVER ALL THE WINDOW  */
    width: calc(100vw - 20vw);
    height: calc(100vh - 20vh);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10vh 10vw;
    font-size: 48px;
    text-align: center;
    
}

.presentation section ul li, .presentation section p{
    font-size: 25px;
}

.tools{
    position: fixed;
    width: 80%;
    height: 10%;
    top: 3%;
    left: 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    background-color: white;
    padding: 15px;
}

.chapter{
    display: flex;

}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.titles{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#icon-container{
    display: flex;
    justify-content: center;
}

#container-strong{
    display: flex;
    justify-content: center;
}