body.show{
    font-family: Inter, sans-serif;
    background-color: rgb(228, 227, 227);
    overflow: hidden;
    /* WE CAN'T SCRALL, WHAT IS NOT SHOWED IN THE PAGE, IS NOT ACCESIBLE SCROLLING, WE MADE THIS WITH THE overflow:hidden */
}

.presentation section{
    /* EACH SECTION WILL COVER ALL THE WINDOW  */
    width: calc(100vw - 20vw);
    height: calc(100vh - 20vh);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10vh 10vw;
    font-size: 48px;
    text-align: center;
    
}

.presentation section ul li, .presentation section p{
    font-size: 25px;
}

.tools{
    position: fixed;
    width: 40%;
    height: 8%;
    top: 3%;
    left: 29%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 17px;
    /* box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset; */
    /* background-color: white; */
    padding: 15px;
    opacity: 15%;
    transition: all 300ms;
    z-index: 100;
}

.tools:hover{
    opacity: 100%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.presentation{
    transition: 500ms all ease-out;
}

.chapter{
    display: flex;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.titles{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 5px;
}

.titles span{
    display: none;
}

#icon-container{
    display: flex;
    justify-content: center;
}

#container-strong{
    display: flex;
    justify-content: center;
}

button.icon{
    margin: 5px;
    font-size: 1.6em;
    background-color: transparent;
    border: none;
    transition: all 300ms;
}

button.icon:hover{
    transform: scale(1.4, 1.4);
    background-color: gainsboro;
    border-radius: 8px;
}

span.position{
    display: inline;
}

.titles-strong{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5px;
}